@model CS322_Projekat.Models.IznajmljivanjeModels.IznajmljivanjeModel


<div class="container">
    <h1 class="header clearfix detailHeading">Rezervisi</h1>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3">
                <h2 id="itemNaziv">@Model.Naziv</h2>
                <img class="detailImg" src="@Model.ImgUrl" style="max-height: 350px" />
            </div>
            <div class="col-md-9">

                <p>Trenutno ima @Model.RezervacijeCount rezervacija.</p>
                @using (Html.BeginForm("PotvrdiRezervaciju", "Katalog", FormMethod.Post))
                {
                    @Html.HiddenFor(a => a.AssetId)
                    <div>
                        Unesite ID clanse kartice.
                        @Html.TextBoxFor(a => a.ClanskaKartaId, new {@class = "form-control col-md-4  mr-auto mb-3 mt-3"})
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success btn-lg">Potvrdi rezervaciju!</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>